__pycache__/
*.pyc
*.pyo
*.swp
*.tmp
*.log
.DS_Store
.build/
dist/
.venv/
.env
.cache/
.hypothesis/
.pytest_cache/
.ruff_cache/
.checkpoints/
data/raw/
data/cache/
data/annotation/
data/expression/
data/genome/
data/junctions/
data/reference/
data/variants/
data/processed/
outputs/
train/runs
poetry.lock
./poetry.lock